*
  font-family: sans-serif
  box-sizing: border-box
  color: #aaa
  line-height: 0

.dpbox
  text-align: right
  background: #fff
  height: 12rem
  padding: 1.25rem 1rem
  width: 24rem
  position: absolute
  top: 2.375rem
  left: 2.375rem

.dpreverse
  .dpbox
    text-align: right
    background: #fff
    height: 12rem
    padding: 1.25rem 1rem
    width: 24rem
    position: absolute
    bottom: 2.375rem
    right: 2.375rem
    top: auto
    left: auto

.dpcontainer
  position: relative
  height: 60rem
  width: 100%

.dp1
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp2
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp3
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp4
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp5
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp6
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp7
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp8
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp9
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp10
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp11
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp12
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp13
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp14
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp15
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp16
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp17
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp18
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp19
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp20
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp21
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp22
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp23
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)

.dp24
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.24),0 1px 7px 0 rgba(0,0,0,.3)
